#drag-region {
    -webkit-app-region: drag;
}

#minimize-btn {
    -webkit-app-region: no-drag;
}

#fullscreen-toggle {
    -webkit-app-region: no-drag;
}

#close-btn {
    -webkit-app-region: no-drag;
}